.intro {
  margin: 0;
}
.myName {
  color: white;
  font-family: 'Roboto Slab';
}
.description {
  color: white;
  font-family: 'Roboto Slab';
  text-align: center;
  margin: 20px;
}
body {
  background-color: #3F704D;
}
.descAlign {
  position: relative;
  top: 100px;
}
.menuops {
  list-style-type: none;
}
.menuops li{
  float: right;
  color: white;
  font-family: 'Roboto Slab'
}
